# Teddy Nyambe
## Week6 10/09/2022
### Python Loops
####General for loops format
```python
for item in object:
    statement to do work
```

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [3]:
for n in sc:
    print(n)

68
87
90
89
92
78
88
75
79
85

In [4]:
for n in sc:
    if n % 2 == 0:
        print (n)
    else:
        print('Odd Score')

68
Odd Score
90
Odd Score
92
78
88
Odd Score
Odd Score
Odd Score

In [5]:
len(sc)

10

In [6]:
range(0,10)

range(0, 10)

In [7]:
range(len(sc))

range(0, 10)

In [8]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
nl = list(range(0,10))

In [10]:
nl

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
sum(sc)

831

In [12]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [13]:
sum = 0
for n in sc:
    sum+=n
print(sum)

831

In [14]:
sum = 0
for n in sc:
    sum+=n
print(sum/len(sc))

83.1

In [15]:
len(sc)

10

In [16]:
range(int(len(sc)/2))

range(0, 5)

In [17]:
range(5)

range(0, 5)

In [18]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
lst1 = [1,3,5,6,8,9]
lst2 = [10,30,50,60,80,90]

In [20]:
zipped_lst = zip(lst1, lst2)

In [21]:
zipped_lst

In [22]:
lst = list(zipped_lst)

In [23]:
lst

[(1, 10), (3, 30), (5, 50), (6, 60), (8, 80), (9, 90)]

In [24]:
for z in lst:
    print(z)

(1, 10)
(3, 30)
(5, 50)
(6, 60)
(8, 80)
(9, 90)

In [25]:
for (t1,t2) in lst:
    print(t2)

10
30
50
60
80
90

In [26]:
d = {"brand":"Ford", "model":"Mustan", "year":1964}

In [27]:
d

{'brand': 'Ford', 'model': 'Mustan', 'year': 1964}

In [28]:
d.values

In [29]:
d.values()

dict_values(['Ford', 'Mustan', 1964])

In [30]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [31]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustan'), ('year', 1964)])

In [32]:
for n in d:
    print(n)

brand
model
year

In [33]:
for n in d:
    print(d[n])

Ford
Mustan
1964

In [34]:
d['model']

'Mustan'

In [35]:
for k,v in d:
    print(k,v)

ValueError: too many values to unpack (expected 2)

In [36]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustan
year 1964

In [1]:
for item in d.items():
    print(item)

NameError: name 'd' is not defined

In [4]:
d = {"brand":"Ford", "model":"Mustan", "year":1964}

In [5]:
d

{'brand': 'Ford', 'model': 'Mustan', 'year': 1964}

In [8]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'Mustan')
('year', 1964)

In [9]:
a = {1,2,4,6,9}

In [14]:
a

{1, 2, 4, 6, 9}

In [15]:
for item in a:
    print(item)

1
2
4
6
9

In [16]:
fruits = ['Apple','Grape', 'Orange','Banana','Cherry']

In [17]:
for  f in fruits:
    print (f)

Apple
Grape
Orange
Banana
Cherry

In [18]:
type(fruits)

list

In [19]:
type(a)

set

In [20]:
t = (1,3,5,7,9)

In [21]:
for item in t:
    print(item)

1
3
5
7
9

In [22]:
type(t)

tuple

In [23]:
range(fruits)

TypeError: 'list' object cannot be interpreted as an integer

In [24]:
range(fruits.len)

AttributeError: 'list' object has no attribute 'len'

In [26]:
range(len(fruits))

range(0, 5)

In [27]:
for f in fruits:
    if f == 'Banana':
        break
    else:
        print(f)

Apple
Grape
Orange

In [28]:
for f in fruits:
    if f == 'Banana':
        continue
    else:
        print(f)

Apple
Grape
Orange
Cherry

In [29]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [30]:
type(range(6))

range

In [31]:
x = range(6)

In [32]:
x

range(0, 6)

In [33]:
for n in range(3,6):
    print(n)

3
4
5

In [34]:
for n in range(1,31, 3):
    print(n)

1
4
7
10
13
16
19
22
25
28

In [35]:
for n in range(0,31, 5):
    print(n)

0
5
10
15
20
25
30

In [36]:
for n in range(1,31,3):
    print(n)
else:
    print('Finished printing')

1
4
7
10
13
16
19
22
25
28
Finished printing

In [37]:
adj = ['red','small','large','tasty','sweet']
fruits = ['Apple','Grape','Orange','Cherry']

for a in adj:
    print (a)

red
small
large
tasty
sweet

In [38]:
for a in adj:
    for f in fruits:
        print(a, f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Cherry
large Apple
large Grape
large Orange
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Cherry

In [42]:
lst = []

for a in adj:
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(a,f)
            lst.append((a,b))
print(lst)

red Apple

NameError: name 'b' is not defined

In [43]:
lst = []

for a in adj:
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(a,f)
            lst.append((a,f))
print(lst)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Cherry
large Apple
large Grape
large Orange
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Cherry
[('red', 'Apple'), ('red', 'Grape'), ('red', 'Orange'), ('red', 'Cherry'), ('small', 'Apple'), ('small', 'Grape'), ('small', 'Orange'), ('small', 'Cherry'), ('large', 'Apple'), ('large', 'Grape'), ('large', 'Orange'), ('large', 'Cherry'), ('tasty', 'Apple'), ('tasty', 'Grape'), ('tasty', 'Orange'), ('tasty', 'Cherry'), ('sweet', 'Apple'), ('sweet', 'Grape'), ('sweet', 'Orange'), ('sweet', 'Cherry')]

In [44]:
adj = ['red','small','large','tasty','sweet']
fruits = ['Apple','Grape','Orange','Banana','Cherry']

In [45]:
lst = []

for a in adj:
    for f in fruits:
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(a,f)
            lst.append((a,f))
print(lst)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry
sweet Apple
sweet Grape
sweet Orange
sweet Banana
sweet Cherry
[('red', 'Apple'), ('red', 'Grape'), ('red', 'Orange'), ('red', 'Cherry'), ('small', 'Apple'), ('small', 'Grape'), ('small', 'Orange'), ('small', 'Banana'), ('small', 'Cherry'), ('large', 'Apple'), ('large', 'Grape'), ('large', 'Orange'), ('large', 'Banana'), ('large', 'Cherry'), ('tasty', 'Apple'), ('tasty', 'Grape'), ('tasty', 'Orange'), ('tasty', 'Banana'), ('tasty', 'Cherry'), ('sweet', 'Apple'), ('sweet', 'Grape'), ('sweet', 'Orange'), ('sweet', 'Banana'), ('sweet', 'Cherry')]

In [46]:
names = ["Washingtone", "Adams", "Jefferson", "Madisonn", "Monroe", "Adams", "Jasckson"]

In [47]:
names

['Washingtone',
 'Adams',
 'Jefferson',
 'Madisonn',
 'Monroe',
 'Adams',
 'Jasckson']

In [48]:
for idx, value in enumerate(names):
    print (f'President {idx}: is {value}')

President 0: is Washingtone
President 1: is Adams
President 2: is Jefferson
President 3: is Madisonn
President 4: is Monroe
President 5: is Adams
President 6: is Jasckson

In [49]:
for idx, value in enumerate(names, start=1):
    print(f'President {idx}: {value}')

President 1: Washingtone
President 2: Adams
President 3: Jefferson
President 4: Madisonn
President 5: Monroe
President 6: Adams
President 7: Jasckson